<table class="table table-sm table-striped" style="border-top: 0px snow; font-size: 12px;" >
    <thead>
      <tr>
        <th>#</th>
        <th>Date</th>
        <th>Desc</th>
        <th>Amount</th>
        <th>Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of itemTrans;let ndx=index">
          <tr >
            <td>{{ndx+ 1}}</td>
            <td >{{item.dateTime | date:"dd/MMM/yy hh:mm"}}</td>
            <td>{{item.desc}}</td>
            <td [ngClass]="{'cus-neg' :!rfun.IsPostive(item.amount),'cus-pos':rfun.IsPostive(item.amount) }">{{item.amount | number:'2.'}}</td>
            <th [ngClass]="{'cus-neg' :!rfun.IsPostive(item.prevBal+item.amount),'cus-pos':rfun.IsPostive(item.prevBal+item.amount) }">{{item.prevBal+item.amount | number:'2.'}}</th>
            <td width=10><a (click)="editTransaction.showEditModal(item)">
                <i class="fa fa-edit btn btn-outline-danger" style="padding: 4px;"></i> </a>
            </td>
          </tr>
      </ng-container>
    </tbody>
</table>

<app-edit-trans #editTransaction></app-edit-trans>